{%- extends "base.html" %}

{% block content %}
	<div class="content container">
		<div class="jumbotron">
			<h1>Super Hero Arena</h1>
			<p>Welcome!  This website allows you to search for Super Heroes and Super Villains 
			and battle them against each other in a simple game.</p>
			<p>Use the navigation at the top of the page to login or sign up for an account</p>
		</div>
		<h2>Leaderboard</h2>
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>User</th>
				<th>Score</th>
				<th>Hero Used</th>
			</tr>
			{% for player in leaderboard %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ player.username }}</td>
					<td>{{ player.high_score }}</td>
					<td>{{ player.high_score_hero }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}