{% extends "base.html" %}

{% block head %}
<title>SHA Signup</title>
{% endblock %}

{% block body %}
	<h1>{{ user.username }}</h1>
	
	{% include "flash.html" %}
	
	<form action="/profile/" method="POST">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" id="username" value="{{ user.username }}"></td>
			</tr>
			<tr>
				<td>Old Password</td>
				<td><input type="password" name="old_password" id="old_password" value=""></td>
			</tr>
			<tr>
				<td>New Password</td>
				<td><input type="password" name="new_password" id="new_password" value=""></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" name="email" id="email" value="{{ user.email }}"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Update"></td>
			</tr>
		</table>
	</form>
	<form action="/logout/" method="POST">
		<input type="submit" value="Logout">
	</form>
{% endblock %}