<table>
	<tr>
		<td><img src="{{ super.images.lg }}" alt="{{ super.name }}"></td>
		<td>
			<table>
				<tr>
					<th>Hero/Villain Name</th>
					<td>{{ super.name }}</td>
				</tr>
				<tr>
					<th>Full Real Name</th>
					<td>{{ super.biography.fullName }}</td>
				</tr>
				{% for alias in super.biography.aliases %}
					<tr>
						{% if loop.index == 1 %}
							<th>Aliases</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{  alias }}</td>
					</tr>
				{% endfor %}
				{% for ego in super.biography.alterEgos %}
					<tr>
						{% if loop.index == 1 %}
							<th>Alter Egos</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ ego }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th>Place of Birth</th>
					<td>{{ super.biography.placeOfBirth }}</td>
				</tr>
				{% for occupation in super.work.occupation %}
					<tr>
						{% if loop.index == 1 %}
							<th>Occupations</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ occupation }}</td>
					</tr>
				{% endfor %}
				{% for base in super.work.base %}
					<tr>
						{% if loop.index == 1 %}
							<th>Bases of Operation</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ base }}</td>
					</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>Alignment</th>
					<td>{{ super.biography.alignment }}</td>
				</tr>
				{% for affiliation in super.connections.groupAffiliation %}
					<tr>
						{% if loop.index == 1 %}
							<th>Group Affiliations</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ affiliation }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th>Super Hero Arena Stats</th>
					<td></td>
				</tr>
				<tr>
					<th>Intelligence</th>
					<td>{{ super.powerstats.intelligence }}</td>
				</tr>
				<tr>
					<th>Strength</th>
					<td>{{ super.powerstats.strength }}</td>
				</tr>
				<tr>
					<th>Speed</th>
					<td>{{ super.powerstats.speed }}</td>
				</tr>
				<tr>
					<th>Durability</th>
					<td>{{ super.powerstats.durability }}</td>
				</tr>
				<tr>
					<th>Power</th>
					<td>{{ super.powerstats.power }}</td>
				</tr>
				<tr>
					<th>Combat</th>
					<td>{{ super.powerstats.combat }}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>First Appearance</th>
					<td>{{ super.biography.firstAppearance }}</td>
				</tr>
				<tr>
					<th>Publisher</th>
					<td>{{ super.biography.publisher }}</td>
				</tr>
				{% for relative in super.connections.relatives %}
					<tr>
						{% if loop.index == 1 %}
							<th>Relatives</th>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ relative }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th>Gender</th>
					<td>{{ super.appearance.gender }}</td>
				</tr>
				<tr>
					<th>Race</th>
					<td>{{ super.appearance.race }}</td>
				</tr>
				<tr>
					<th>Height</th>
					<td>{{ super.appearance.height[0] }} ({{ super.appearance.height[1] }})</td>
				</tr>
				<tr>
					<th>Weight</th>
					<td>{{ super.appearance.weight[0] }} ({{ super.appearance.weight[1] }})</td>
				</tr>
				<tr>
					<th>Eye Color</th>
					<td>{{ super.appearance.eyeColor }}</td>
				</tr>
				<tr>
					<th>Hair Color</th>
					<td>{{ super.appearance.hairColor }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>