<div class="row">
	<div class="col-md-6"><img src="{{ super.images.lg }}" alt="No Image Found for: {{ super.name }}"></div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3"><strong>Hero/Villain Name</strong></div>
			<div class="col-md-9">{{ super.name }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Full Real Name</strong></div>
			<div class="col-md-9">{{ super.biography.fullName }}</div>
		</div>
		{% for alias in super.biography.aliases %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Aliases</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{  alias }}</div>
			</div>
		{% endfor %}
		{% for ego in super.biography.alterEgos %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Alter Egos</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{ ego }}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-3"><strong>Place of Birth</strong></div>
			<div class="col-md-9">{{ super.biography.placeOfBirth }}</div>
		</div>
		{% for occupation in super.work.occupation %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Occupations</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{ occupation }}</div>
			</div>
		{% endfor %}
		{% for base in super.work.base %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Bases of Operation</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{ base }}</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3"><strong>Alignment</strong></div>
			<div class="col-md-9">{{ super.biography.alignment }}</div>
		</div>
		{% for affiliation in super.connections.groupAffiliation %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Group Affiliations</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{ affiliation }}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-12 text-center"><strong>Super Hero Arena Stats</strong></div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Intelligence</strong></div>
			<div class="col-md-9">{{ super.powerstats.intelligence }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Strength</strong></div>
			<div class="col-md-9">{{ super.powerstats.strength }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Speed</strong></div>
			<div class="col-md-9">{{ super.powerstats.speed }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Durability</strong></div>
			<div class="col-md-9">{{ super.powerstats.durability }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Power</strong></div>
			<div class="col-md-9">{{ super.powerstats.power }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Combat</strong></div>
			<div class="col-md-9">{{ super.powerstats.combat }}</div>
		</div>
		<div class="row">
			<div class=col-md-12">
				<form action="/battle/", method="POST">
					<input type="hidden" name="hero" value="{{ super.name }}">
					<input type="submit" class="btn btn-primary btn-block" value="BATTLE!">
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3"><strong>First Appearance</strong></div>
			<div class="col-md-9">{{ super.biography.firstAppearance }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Publisher</strong></div>
			<div class="col-md-9">{{ super.biography.publisher }}</div>
		</div>
		{% for relative in super.connections.relatives %}
			<div class="row">
				{% if loop.index == 1 %}
					<div class="col-md-3"><strong>Relatives</strong></div>
				{% else %}
					<div class="col-md-3"></div>
				{% endif %}
				<div class="col-md-9">{{ relative }}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-3"><strong>Gender</strong></div>
			<div class="col-md-9">{{ super.appearance.gender }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Race</strong></div>
			<div class="col-md-9">{{ super.appearance.race }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Height</strong></div>
			<div class="col-md-9">{{ super.appearance.height[0] }} ({{ super.appearance.height[1] }})</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Weight</strong></div>
			<div class="col-md-9">{{ super.appearance.weight[0] }} ({{ super.appearance.weight[1] }})</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Eye Color</strong></div>
			<div class="col-md-9">{{ super.appearance.eyeColor }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><strong>Hair Color</strong></div>
			<div class="col-md-">{{ super.appearance.hairColor }}</div>
		</div>
	</div>
</div>