{%- extends "base.html" %}

{% block title %}Super Hero Lookup{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/battle.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center"><strong>Current Opponent:</strong> {{ enemy.name }}</h1>
				<input type="hidden" class="enemy-intelligence" value="{{ enemy.powerstats.intelligence }}">
				<input type="hidden" class="enemy-strength" value="{{ enemy.powerstats.strength }}">
				<input type="hidden" class="enemy-speed" value="{{ enemy.powerstats.speed }}">
				<input type="hidden" class="enemy-durability" value="{{ enemy.powerstats.durability }}">
				<input type="hidden" class="enemy-power" value="{{ enemy.powerstats.power }}">
				<input type="hidden" class="enemy-combat" value="{{ enemy.powerstats.combat }}">
				<input type="hidden" class="enemy-name" value="{{ enemy.name }}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-player" role="progressbar" 
						aria-valuenow="{{ hp }}" aria-valuemin="0" aria-valuemax="300" 
						style="min-width: 2em; display: block; float: right; width: {{ hp_percent }}%;">
						<div class="health-percent-player pull-right">{{ hp_percent }}%</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-enemy" role="progressbar" 
						aria-valuenow="300" aria-valuemin="0" aria-valuemax="300" 
						style="min-width: 2em; display: block; width: 100%;">
						<div class="health-percent-enemy">100%</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="{{ player.images.md }}" alt="No Image Found for: {{ player.name }}">
			</div>
			<div class="col-md-3 text-center">
				<p class="player-roll-space" style="font-size: 100px">
			</div>
			<div class="col-md-3 text-center">
				<p class="enemy-roll-space"  style="font-size: 100px">
			</div>
			<div class="col-md-3 text-right">
				<img src="{{ enemy.images.md }}" alt="No Image Found for: {{ player.name }}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 text-center"><strong>Super Hero Arena Stats</strong></div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Intelligence</strong></div>
					<div class="col-md-3">{{ player.powerstats.intelligence }}</div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Strength</strong></div>
					<div class="col-md-3">{{ player.powerstats.strength }}</div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Speed</strong></div>
					<div class="col-md-3">{{ player.powerstats.speed }}</div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Durability</strong></div>
					<div class="col-md-3">{{ player.powerstats.durability }}</div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Power</strong></div>
					<div class="col-md-3">{{ player.powerstats.power }}</div>
				</div>
				<div class="row">
					<div class="col-md-9"><strong>Combat</strong></div>
					<div class="col-md-3">{{ player.powerstats.combat }}</div>
				</div>
			</div>
			<div class="col-md-4">
				<form class="form-horizontal">
					<div class="row">
						<div class="col-md-12 text-center"><strong>Battle Stat Selection</strong></div>
					</div>
					<div class="row">
						<label for="intelligence" class="col-md-6 control-label">Intelligence</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="intelligence" id="intelligence" class="form-check-input">
							<input type="hidden" class="intelligence" value="{{ player.powerstats.intelligence }}">
						</div>
					</div>
					<div class="row">
						<label for="strength" class="col-md-6 control-label">Strength</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="strength" id="strength" class="form-check-input">
							<input type="hidden" class="strength" value="{{ player.powerstats.strength }}">
						</div>
					</div>
					<div class="row">
						<label for="speed" class="col-md-6 control-label">Speed</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="speed" id="speed" class="form-check-input">
							<input type="hidden" class="speed" value="{{ player.powerstats.speed }}">
						</div>
					</div>
					<div class="row">
						<label for="durability" class="col-md-6 control-label">Durability</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="durability" id="durability" class="form-check-input">
							<input type="hidden" class="durability" value="{{ player.powerstats.durability }}">
						</div>
					</div>
					<div class="row">
						<label for="power" class="col-md-6 control-label">Power</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="power" id="power" class="form-check-input">
							<input type="hidden" class="power" value="{{ player.powerstats.power }}">
						</div>
					</div>
					<div class="row">
						<label for="combat" class="col-md-6 control-label">Combat</label>
						<div class="form-group col-md-6">
							<input type="checkbox" name="combat" id="combat" class="form-check-input">
							<input type="hidden" class="combat" value="{{ player.powerstats.combat }}">
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-danger btn-block attack" disabled="true">ATTACK!</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Current Win Streak: <span id="score_display">{{ score }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form action="/update_high_score/", method="POST">
							<input type="hidden" name="hero" value="{{ player.name }}">
							<input type="hidden" name="score" id="current_score" value="{{ score }}">
							<input type="submit" id="quit" class="btn btn-primary btn-block" value="End Game and Record Score">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form action="/battle/", method="POST">
							<input type="hidden" name="hero" value="{{ player.name }}">
							<input type="hidden" name="score" id="next_score" value="{{ score + 1 }}">
							<input type="hidden" name="hp" id="hp" value="">
							<input type="submit" id="battle_again" style="display:none" 
								   class="btn btn-primary btn-block" value="Next Battle">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
