{% extends 'base.html' %}

{% block head %}
<title>Users</title>
{% endblock %}

{% block body %}
	<div class="content">
		<h1>Users</h1>
		
		<table>
			<tr>
				<th>ID</th>
				<th>User Name</th>
				<th>Hashed Password</th>
				<th>Date Created</th>
			</tr>
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.password }}</td>
				<td>{{ user.date_created.date() }}</td>
			</tr>
		</table>
		
		<form action="/usermanagement/{{ user.id }}/" method="POST">
			<table>
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username", id="username" value="{{ user.username }}"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="text" name="password", id="password", value=""></td>
				</tr>
				<tr>
					<td><input type="submit" value="Test Login" 
							   formaction="/usermanagement/{{ user.id }}/login/"></td>
					<td><input type="submit" value="Update User"></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}